
#   pip install -r requirements.txt
matplotlib>=3.8.0
pandas>=2.1.0
cartopy>=0.23.0          # proyecciones y capas Natural Earth
Shapely>=2.0.0           # geometrías vectoriales
Pillow>=10.0.0           # decodificación de imágenes para el endpoint Static Images de Mapbox
